body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 16px;
    color: #F0FFE0;
}

.background_image{
    background-image: url(call-of-duty-qz31gcy0ulczl7ag.jpg);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

h1, p{
    margin: 1em auto;
    text-align: center;
}

form{
    width: 60vw;
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    padding-bottom: 2em;
    background: rgba(0, 0, 0, 40%);
}

fieldset{
    border: none;
    border-bottom: 2px solid #37000D;
}

fieldset:last-of-type{
    border-bottom: none;
}

input, select, textarea{
    width: 100%;
    color: white;
    background-color: #37000D;
    border: 1px #37000D;
    border-radius: 3px;
    margin-top: 5px;
}

input, select{
    height: 2em;
}

label{
    display: block;
    margin-bottom: 10px;
}

.inline{
    width: unset;
    margin-right: 10px;
    vertical-align: middle;
}

input[type="submit"]{
    display: block;
    width: 40vw;
    margin: 1em auto;
    min-width: 300px;
    max-width: 500px;
    background-color: #705800;
}

input[type="radio"], input[type="checkbox"]{
    background-color: #705800;
    color: #37000D;
}